<site-footer role="contentinfo">
  <p>© {{ runtime.year }} {{ site.name }}. Built with care in Nepal.</p>
  <ul>
    <li><a href="{{ site.author.social.github }}">GitHub</a></li>
    <li><a href="{{ site.author.social.linkedin }}">LinkedIn</a></li>
    <li><a href="{{ site.author.social.x }}">X</a></li>
    <li><a rel="me" href="{{ site.author.social.mastodon }}">Mastodon</a></li>
  </ul>
</site-footer>
